.card {
    border: 1px solid !important;
    background-color: yellow;
    border-radius: 5px;
    display: flex !important;
}
.card > .card-left {
    width: 40%;
    border-right: 1px solid green; 
}

.head-image {
    width: 13rem;
    height: 13rem;
    background-image: url(../../images/pic02.jpg);
    border-radius: 50%;
}

.person-info > li > a > img {
    width: 1.2rem;
    margin-right: 1rem;
    vertical-align: text-bottom;
}

#main > .inner > section {
    padding-bottom: 0;
}

.skill-box {
    text-align: center;
}
.skill-box > img {
    width: 75%;
}